.footer {
  background-color: #ececf0;
  padding: 10px 0;
  position: fixed;
  bottom: -1px;
  width: 100%;
  .footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    color: #6c757d;
    font-size: 10px;

    .footer-section {
      flex: 1;
      padding: 0 20px;

      h3 {
        font-size: 18px;
        color: #343a40;
        margin-bottom: 10px;
      }

      p {
        line-height: 1.6;
        color: #6c757d;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin: 8px 0;

          a {
            text-decoration: none;
            color: #6c757d;
            &:hover {
              color: #343a40;
            }
          }
        }
      }

      .social-icons a {
        display: inline-block;
        margin-right: 10px;
        img {
          width: 24px;
          height: 24px;
        }
      }

      .payment-icons img {
        width: 40px;
        height: 24px;
        margin-right: 10px;
      }
    }
  }
}

.copyright {
  font-size: 12px;
  color: #9ea6ac;
  margin-bottom: 50px;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
