<h1>Nossas Promoções</h1>
<app-container-grid title="Até 30% de desconto">
  <app-card-buy
    promo="../../../assets/images/cards-buy/A.png"
    img="./assets/images/cards-buy/CatBowl.png"
    title="Premium Cat Food"
    [price]="9.99"
  />
  <app-card-buy
    promo="../../../assets/images/cards-buy/A.png"
    img="./assets/images/cards-buy/CatBowl.png"
    title="Premium Cat Litter"
    [price]="7.99"
  />
  <app-card-buy
    promo="../../../assets/images/cards-buy/A.png"
    img="./assets/images/cards-buy/CatBowl.png"
    title="Premium Fish Food"
    [price]="7.99"
  />
  <app-card-buy
    promo="../../../assets/images/cards-buy/A.png"
    img="./assets/images/cards-buy/CatBowl.png"
    title="Two Premium Dog Food"
    [price]="15.99"
  />
  <app-card-buy
    promo="../../../assets/images/cards-buy/A.png"
    img="./assets/images/cards-buy/CatBowl.png"
    title="Two Premium Cat Food"
    [price]="14.99"
  />
  <app-card-buy
    promo="../../../assets/images/cards-buy/A.png"
    img="./assets/images/cards-buy/CatBowl.png"
    title="Cat Clothes"
    [price]="12.99"
  />
  <app-card-buy
    promo="../../../assets/images/cards-buy/A.png"
    img="./assets/images/cards-buy/CatBowl.png"
    title="Cat Litter"
    [price]="3.99"
  />
  <div>
    <app-card-buy
      promo="../../../assets/images/cards-buy/A.png"
      img="./assets/images/cards-buy/CatBowl.png"
      title="Dog Leash"
      [price]="2.99"
    />
  </div>
</app-container-grid>
