main {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;

  .hero-section {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 50px;
    border-radius: 10px;

    .hero-content {
      @media (max-width: 750px) {
        display: flex;
        flex-direction: column;
      }

      h1 {
        font-size: 2.5rem;
        color: #333;
      }
      p {
        color: #666;
        margin-top: 10px;
      }
      .shop-now-btn {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #ff7e00;
        color: white;
        border-radius: 5px;
        text-decoration: none;
      }
    }

    .dog-photo img {
      max-width: 100%;
      height: auto;
      @media (max-width: 750px) {
        display: none;
      }
    }
  }
}

.team {
  padding: 50px;
}

.container {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  padding-inline-start: 0;
  flex-wrap: nowrap;
  @media (max-width: 750px) {
    flex-wrap: wrap;
  }
}

li,
img {
  width: 40%;
  @media (max-width: 20px) {
  }
  font-weight: 600;
}

.about-text {
  padding: 30px 50px 0px;
}
