<main>
  <section class="hero-section">
    <div class="hero-content">
      <h1>Se os animais pudessem falar, eles falariam sobre nós!!!</h1>
      <p>
        Cuidado, carinho, aconchego e amigos. Tudo o que você precisa para ser
        feliz e você encontra aqaui, na OWLHOUSE PetShop!!
      </p>
      <a routerLink="/promotions"
        ><button class="shop-now-btn">Navegue agora</button></a
      >
    </div>
    <img src="./assets/images/doguinho.png" alt="Cachorro" class="dog-photo" />
  </section>
  <section class="about-text">
    <h2>Sobre a OWLHOUSE</h2>
    <p>
      Nós nos dedicamos a criar um ambiente acolhedor onde você encontra desde
      os melhores produtos para o dia a dia do seu pet até serviços
      especializados para deixar seu amigo sempre em seu melhor estado.
      Trabalhamos com uma equipe treinada e comprometida, pronta para te ajudar
      a encontrar tudo o que você precisa, seja para cachorros, gatos, aves ou
      outros bichinhos de estimação.<br /><br />
      Aqui na OWLHOUSE, sabemos que seu pet faz parte da família, e é por isso
      que nos esforçamos para oferecer um atendimento personalizado e de
      qualidade, sempre com carinho e respeito. Acreditamos que cada pet merece
      o melhor, e é por isso que estamos sempre buscando as melhores marcas e
      produtos para garantir a saúde e o bem-estar do seu amigo peludo.<br />
      <br />
      Venha nos visitar e conhecer mais sobre nossos serviços! Estamos ansiosos
      para fazer parte da sua jornada e da vida do seu pet. Afinal, cuidar dos
      pets é a nossa paixão!
    </p>
  </section>
  <section class="team">
    <h2>Nossa equipe</h2>
    <ul class="container">
      <li>
        <img src="./assets/images/kassia.png" alt="ka" />
        <p>Kassia Albuquerque</p>
      </li>
      <li>
        <img src="./assets/images/luan.png" alt="luan" />
        <p>Luan Anderson</p>
      </li>
      <li>
        <img src="./assets/images/victor.png" alt="victor" />
        <p>Victor Costa</p>
      </li>
      <li>
        <img src="./assets/images/yumi.png" alt="" />
        <p>Yumi Kato</p>
      </li>
    </ul>
  </section>
</main>
