<section class="container">
  <nav>
    <h1 class="logo">
      OWLHOUSE <br />
      PETSHOP
    </h1>
    <ul>
      <li>
        <a routerLink=""> Inicio </a>
      </li>
      <li>
        <a routerLink="/promotions"> Promoções</a>
      </li>
      <li>
        <a routerLink="/about">Sobre nós</a>
      </li>
      <li>
        <a routerLink="/contact">Contato</a>
      </li>
    </ul>

    <div class="div-search">
      <input class="search" type="search" />
      <img class="img-search" src="./../../../assets/images/49116.png" alt="" />
    </div>

    <div class="icons">
      <img
        class="img-hearth"
        src="./assets/images/icons/coracao.png"
        alt="Icone de favoritar"
      />
      <img
        class="img-cart"
        src="../../../assets/images/shopping-cart.png"
        alt=""
      />
    </div>
  </nav>
</section>
