<main>
  <app-image-block
    title="A pet store with everything you need"
    text="Sociis blandit et pellentesque aliquet at quisque tortor lacinia nullam. Mattis aenean scelerisque dui libero"
    img="./assets/images/doguinho.png"
  />

  <app-container-grid title="Featured products">
    <app-card-buy
      img="./assets/images/cards-buy/CatBowl.png"
      title="Premium Dog Food"
      [price]="19.99"
    />
    <app-card-buy
      img="./assets/images/cards-buy/CatBowl.png"
      title="Premium Cat Food"
      [price]="19.99"
    />
    <app-card-buy
      img="./assets/images/cards-buy/CatBowl.png"
      title="Premium Dog Food"
      [price]="19.99"
    />
  </app-container-grid>

  <app-container-grid title="Best selling products">
    <app-card-buy
      img="./assets/images/cards-buy/CatBowl.png"
      title="Cat Bowl"
      [price]="30.99"
    />
    <app-card-buy
      img="./assets/images/cards-buy/CatBowl.png"
      title="Cat Bowl"
      [price]="49.99"
    />
    <app-card-buy
      img="./assets/images/cards-buy/CatBowl.png"
      title="Dog leash"
      [price]="9.99"
    />
    <app-card-buy
      img="./assets/images/cards-buy/CatBowl.png"
      title="Premium Cat Food"
      [price]="19.99"
    />
    <app-card-buy
      img="./assets/images/cards-buy/CatBowl.png"
      title="Dog Bowl"
      [price]="19.99"
    />
    <app-card-buy
      img="./assets/images/cards-buy/CatBowl.png"
      title="Premium Dog Food"
      [price]="29.99"
    />
    <app-card-buy
      img="./assets/images/cards-buy/CatBowl.png"
      title="Dog Bed"
      [price]="49.99"
    />
    <app-card-buy
      img="./assets/images/cards-buy/CatBowl.png"
      title="Premium Dog Food"
      [price]="19.99"
    />
  </app-container-grid>
</main>
