$color-gray: rgba(248, 249, 250, 1);
$color-hover: rgb(236, 236, 236);
$color-favorited: rgb(255, 0, 0);

.footer {
  background-color: #ff7e00; /* Fundo laranja do footer */
  padding: 20px 0; /* Aumenta o padding */
  width: 100%; /* Ajusta a largura para 100% */
  position: relative; /* Para que a marca d'água fique corretamente posicionada */
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer-content {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;

    .footer-section {
      flex: 1;
      padding: 0 20px;

      h3 {
        font-size: 20px; /* Aumenta o tamanho do título */
        color: #1d2022;
        margin-bottom: 10px;
      }

      p {
        line-height: 1.6;
        color: #1d2022;
        font-size: 14px; /* Aumenta o tamanho do texto */
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin: 8px 0;

          a {
            text-decoration: none;
            color: #1d2022;
            &:hover {
              color: #253b52;
            }
          }
        }
      }

      .social-icons a {
        display: inline-block;
        margin-right: 10px;
        img {
          width: 24px;
          height: 24px;
        }
      }
      
    }
  }

  .copyright {
    font-size: 14px; /* Aumenta o tamanho da fonte do copyright */
    color: #333;
    margin-top: 10px; /* Ajusta a margem */
    text-align: center;
  }

  .payment-icons img {
    width: 200px;
    height: 20px;
    margin-right: 2px;
  }
}
