<footer class="footer">
  <div class="footer-content">
    <div class="footer-section pet-shop">
      <h3><span class="paw">🐾</span>OWLHOUSE</h3>
      <p>
        Tudo o que você precisa saber sobre nós, bem aqui: na palma da sua mão!
      </p>
      <div class="social-icons">
        <a href="#"
          ><img src="./assets/images/facebook-icon.png" alt="Facebook"
        /></a>
        <a href="#"
          ><img src="./assets/images/instagram-icon.png" alt="Instagram"
        /></a>
        <a href="#"
          ><img src="./assets/images/youtube-icon.png" alt="YouTube"
        /></a>
      </div>
    </div>
    <div class="footer-section company">
      <h3>Institucional</h3>
      <ul>
        <li><a routerLink="/about">Sobre nós</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Trabalhe conosco</a></li>
      </ul>
    </div>
    <div class="footer-section useful-links">
      <h3>Aqui você encontra</h3>
      <ul>
        <li><a href="#">Novidades</a></li>
        <li><a href="#">Melhores avaliados</a></li>
        <li><a routerLink="/promotions">Promoções</a></li>
        <li><a href="#">F.A.Q</a></li>
      </ul>
    </div>
    <div class="footer-section customer-service">
      <h3>Ajuda</h3>
      <ul>
        <li><a routerLink="/contact">Fale conosco</a></li>
        <li><a href="#">Envios</a></li>
        <li><a href="#">Devoluções</a></li>
        <li><a href="#">Localize seu pedido</a></li>
      </ul>
    </div>
    <div class="footer-section store">
      <h3>Mantenha contato!</h3>
      <p>8592 Fairground St.<br />Tallahassee, FL 32303</p>
      <p>+775 378-6348<br />atendimento&#64;owlhouse.com</p>
      <div class="payment-icons">
        <img src="./assets/images/payment.png" alt="payment" />
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>
      © Copyright Pet Shop 2024. <br />Design by: Kassia Albuquerque, Leila
      Yumi, Victor Gabriel e Luan Anderson
    </p>
  </div>
</footer>
